body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0f1220;
    color: #cfdbf3;
  }
}

h1 {
  font-size: 4rem;
  font-family: 'Fira Code';
}

.tablet-portrait,
.tablet-landscape,
.laptop {
  display: none;
}

@media screen and (min-width: 720px) and (max-width: 899px) {
  .tablet-portrait {
    display: block;
  }
}

@media screen and (min-width: 900px) and (max-width: 1023px) {
  .tablet-landscape {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .laptop {
    display: block;
  }
}

@media screen and (min-width: 720px) {
  .mobile {
    display: none;
  }
}